<!DOCTYPE html>
@*<html lang="en">*@

<style>
    .dropbtn {
        background-color: #40403E;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #FE980F
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #FE980F;
    }
    }
</style>

<style>
    .hvr-hover {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        background: #FE980F;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        border-radius: 0;
        box-shadow: none;
    }

        .hvr-hover::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #f1f1f1;
            border-radius: 100%;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        .hvr-hover:hover::after {
            -webkit-transform: scale(2);
            transform: scale(2);
            color: #ffffff;
        }

    .hvr-hover {
        overflow: hidden;
    }

    ul.cart-list > li.total > .btn:hover {
        color: #ffffff;
    }

    #inputSearch {
        background: #F0F0E9;
        border: medium none;
        color: #B2B2B2;
        font-family: 'roboto';
        font-size: 12px;
        font-weight: 300;
        height: 35px;
        outline: medium none;
        padding-left: 10px;
        background-repeat: no-repeat;
        background-position: 130px;
    }
</style>

<style>
    #block-block-44 {
        font-size: 14px;
        height: 42px;
    }

    .breadcrumb, #block-block-44 {
        background-color: #ebe9e9;
    }

    #block-block-44 {
        height: 4.5rem;
        margin: 0 -15px;
        padding: 0 4rem;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
        font-size: 1.25rem;
    }

    body * {
        font-family: Myriad Pro,Myriad Pro Cond,Myriad Pro Semibold,Roboto,Open Sans,serif;
    }

    article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
        display: block;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    user agent stylesheet
    section {
        display: block;
    }

    body {
        font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 15px;
        line-height: 1.4;
        color: #222222;
        background-color: #ffffff;
    }

    html {
        font-size: 11px;
    }

    html {
        font-size: 10px;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    html {
        font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    .clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
        content: " ";
        display: table;
    }

    *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-header:after, .modal-footer:after {
        clear: both;
    }
    .clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
        content: " ";
        display: table;
    }

    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cart | Books-Store</title>
    <link href="~/Assets/Admin2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/Admin2/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Assets/Admin2/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Assets/Admin2/css/price-range.css" rel="stylesheet">
    <link href="~/Assets/Admin2/css/animate.css" rel="stylesheet">
    <link href="~/Assets/Admin2/css/main.css" rel="stylesheet">
    <link href="~/Assets/Admin2/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="~/Assets/Admin2/js/html5shiv.js"></script>
    <script src="~/Assets/Admin2/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/Assets/Admin2/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Assets/Admin2/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Assets/Admin2/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Assets/Admin2/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Assets/Admin2/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->



<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    @*<div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href=""><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                                <li><a href=""><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>*@
                    <section id="block-block-44" class="block block-block hidden-xs hidden-sm clearfix">


                        <div class="row">
                            <div class="col-xs-5 col-sm-4 col-md-5 top-left">
                                <section id="block-views-exp-hieusach-page" class="block block-views clearfix">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <!--<form action="~/Product/ProductSearch" method="get" id="views-exposed-form-hieusach-page" accept-charset="UTF-8" class="jquery-once-1-processed">
                                        <div>
                                            <div class="views-exposed-form" style="padding-top: 5px">
                                                <div class="views-exposed-widgets clearfix" style="display:flex">
                                                    <div id="edit-title-wrapper" class="views-exposed-widget views-widget-filter-combine">
                                                        <div class="views-widget">
                                                            <div class="form-item form-item-title form-type-textfield form-group"><input class="form-control form-text" type="text" id="edit-title" name="searchString" value="" size="30" maxlength="128" style="width: 400px"></div>
                                                        </div>
                                                    </div>
                                                    <div class="views-exposed-widget views-submit-button">
                                                        <button type="submit" id="edit-submit-hieusach" name="" value="Áp dụng" class="btn btn-info form-submit">Tìm kiếm</button>-->
                                            @*<span class="layer-submit"><img class="" src="/images/kimdongnew/search_icon.png"> <span>Tìm kiếm</span></span>*@
                                            <!--</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>-->
                                            @using (Html.BeginForm("ProductSearch", "Product", FormMethod.Get))
                                            {
                                                <div class="input-group" style="display:flex; padding-top:6px">
                                                    <input type="text" class="form-control bg-light border-0 small col-12" placeholder="Nhập từ khóa ..."
                                                           aria-label="Search" value="@ViewBag.searchString" aria-describedby="basic-addon2" name="searchString" style="width:200px">
                                                    @*@Html.DropDownList("searchField", ViewBag.searchField as SelectList, new { @class = "form-control" })*@
                                                    <input type="number" class="form-control bg-light border-0 small col-12" placeholder="Giá từ ..."
                                                           aria-label="Search" value="@ViewBag.giaMin" aria-describedby="basic-addon2" name="giaMin" style="width:100px">
                                                    <input type="number" class="form-control bg-light border-0 small col-12" placeholder="Đến "
                                                           aria-label="Search" value="@ViewBag.giaMax" aria-describedby="basic-addon2" name="giaMax" style="width:100px">

                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary" type="submit" style="margin-top:1px">Tìm kiếm</button>
                                                    </div>
                                                </div>

                                            }

                                        </div>

                                </section>
                            </div>

                        </div>
                    </section>

                </div>
            </div>
        </div><!--/header_top-->

        f<div style="margin-top:30px"></div>

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="~/Home/Index"><img src="~/Assets/Admin2/images/home/_logo.png" alt="" /></a>
                        </div>

                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            @{Html.RenderAction("TopMenu", "Home"); }
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            @{Html.RenderAction("MainMenu", "Home"); }
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Search" style="width:505px" id="inputSearch" />
                            <button type="submit" class="btn btn-default get" style="width:90px">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!--/header-->
    @RenderSection("Slide", required: false)
    @RenderBody()

    <footer id="footer">
        <!--Footer-->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <h2><span>Books</span>-Store</h2>
                            <p>Thương hiệu số 1 Việt Nam</p>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="~/Assets/Admin2/images/home/_iframe.jpeg" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <h2>24 DEC 2021</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="~/Assets/Admin2/images/home/_iframe2.jpeg" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <h2>24 DEC 2021</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="~/Assets/Admin2/images/home/_iframe3.jpeg" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <h2>24 DEC 2021</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="~/Assets/Admin2/images/home/_iframe4.jpeg" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <h2>24 DEC 2021</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="address">
                            <img src="~/Assets/Admin2/images/home/map.png" alt="" />
                            <p>Địa chỉ: 55 Quang Trung, Nguyễn Du, Hai Bà Trưng, Hà Nội</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Service</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="">Online Help</a></li>
                                <li><a href="">Contact Us</a></li>
                                <li><a href="">Order Status</a></li>
                                <li><a href="">Change Location</a></li>
                                <li><a href="">FAQ’s</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Quock Shop</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="">T-Shirt</a></li>
                                <li><a href="">Mens</a></li>
                                <li><a href="">Womens</a></li>
                                <li><a href="">Gift Cards</a></li>
                                <li><a href="">Shoes</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Policies</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="">Terms of Use</a></li>
                                <li><a href="">Privecy Policy</a></li>
                                <li><a href="">Refund Policy</a></li>
                                <li><a href="">Billing System</a></li>
                                <li><a href="">Ticket System</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>About Shopper</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="">Company Information</a></li>
                                <li><a href="">Careers</a></li>
                                <li><a href="">Store Location</a></li>
                                <li><a href="">Affillate Program</a></li>
                                <li><a href="">Copyright</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="single-widget">
                            <h2>About Shopper</h2>
                            <form action="#" class="searchform">
                                <input type="text" placeholder="Your email address" />
                                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                                <p>Get the most recent updates from <br />our site and be updated your self...</p>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2021 Books-SHOPPER Inc. All rights reserved.</p>
                    <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Duc Duy & Hieu Nguyen</a></span></p>
                </div>
            </div>
        </div>

    </footer><!--/Footer-->



    <script src="~/Assets/Admin2/js/jquery.js"></script>
    <script src="~/Assets/Admin2/js/bootstrap.min.js"></script>
    <script src="~/Assets/Admin2/js/jquery.scrollUp.min.js"></script>
    <script src="~/Assets/Admin2/js/jquery.prettyPhoto.js"></script>
    <script src="~/Assets/Admin2/js/main.js"></script>
    @RenderSection("jsFooter", required: false)
</body>
