@model WebApplication.Models._EF._Sach

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<div class="card-header py-3">
    <h2 class="m-0 font-weight-bold text-primary">Sách</h2>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Admin">Trang Chủ</a></li>
        <li class="breadcrumb-item"><a href="~/Admin/Sach">Sách</a></li>
        <li class="breadcrumb-item active" aria-current="page">Xem Chi Tiết</li>
    </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-body">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Tên sách</th>
                    <th>Giá bán</th>
                    <th>Số lượng tồn</th>
                    <th>Ảnh</th>
                    <th>Chủ đề</th>
                    <th>Nhà sản xuất</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.TenSach)</td>
                    <td>@Html.DisplayFor(model => model.GiaBan)</td>
                    <td>@Html.DisplayFor(model => model.SoLuongTon)</td>
                    <td><img style="width:100px;height:100px" src="~/Upload/sach/@Model.AnhBia" /></td>
                    <td>@Html.DisplayFor(model => model.TenCD)</td>
                    <td>@Html.DisplayFor(model => model.TenNXB)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
        <td>
            <a href="@Url.Content("~/Admin/Sach/Edit?id=")@Model.ID" class="btn btn-outline-info"><span class="glyphicon glyphicon-pencil"></span>Sửa</a>
        </td>
        @Html.ActionLink("Trở về", "Index")
    </p>
</div>