@model WebApplication.Models.EF.Sach
@{ ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var RecommendActive = (List<WebApplication.Models.EF.Sach>)ViewBag.RecommendItemActive;
    var RecommendItem = (List<WebApplication.Models.EF.Sach>)ViewBag.RecommendItem;
    var selectNumbericSold = ViewBag.NumbericSold; }
@using System.Globalization
<style>
    .product-information span span {
        color: #FE980F;
        float: left;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 700;
        margin-right: 20px;
        margin-top: 0px;
    }

    .view-product img {
        border: 1px solid #F7F7F0;
        height: 343px;
        width: 100%;
    }
</style>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        @{ Html.RenderAction("ProductCategory", "Product");}

                    </div><!--/category-products-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-4">
                        <div class="view-product">
                            <img src="@Url.Content(Model.AnhBia)" alt="" />
                        </div>
                        <div id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <a href=""><img src="@Url.Content(Model.BiaSau)" alt="" style="width:30%; height:30%"></a>
                                </div>
                            </div>

                            <!-- Controls -->
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <!--/product-information-->
                            <img src="~/Assets/Admin2/images/product-details/new.jpg" class="newarrival" alt="" />
                            <h2>@Model.TenSach</h2>
                            <img src="~/Assets/Admin2/images/product-details/rating.png" alt="" />
                            <p>Đã bán: @selectNumbericSold</p>
                            <span>
                                <span>
                                    @(Convert.ToDouble(Model.GiaBan).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))
                                </span>
                                <button type="submit" class="btn btn-fefault cart">
                                    <a href="/them-gio-hang?productID=@Model.ID&quantity=1" class=""><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </button>
                            </span>
                            <p><b>Availability:</b> In Stock</p>
                            <p><b>Condition:</b> New</p>
                            <p><b>Brand: </b>@Model.NhaXuatBan.TenNXB</p>

                        </div><!--/product-information-->
                    </div>



                </div><!--/product-details-->

                <div class="blog-post-area">
                    <h2 class="title text-center">Chi tiết sản phẩm</h2>
                    <div class="single-blog-post">
                        @*<a href="">
                                <img src="@Url.Content(Model.AnhBia)" alt="" style="width:20%; height:20%">
                            </a>*@
                        <p>
                            @Html.Raw(Model.Detail)
                        </p> <br />
                        <div class="pager-area">
                            <ul class="pager pull-right">
                                <li><a href="#">Pre</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">Sản phẩm tương tự</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                @foreach (var item in RecommendActive)
                                {
                                    var url = "/chi-tiet/" + @item.MetaTitle + "-" + @item.ID;
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <a href="@url">
                                                        <img src="@Url.Content(item.AnhBia)" alt="" style="width:30%; height:30%" />
                                                        <p>@item.TenSach</p>
                                                        <p>@item.GiaBan VND</p>
                                                        @*<p>@item.MoTa</p>*@
                                                        <a href="/them-gio-hang?productID=@item.ID&quantity=1" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 }
                            </div>
                            <div class="item">
                                @foreach (var item in RecommendItem)
                                {
                                    var url = "/chi-tiet/" + @item.MetaTitle + "-" + @item.ID;
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <a href="@url">
                                                        <img src="@Url.Content(item.AnhBia)" alt="" style="width:30%; height:30%" />
                                                        <p>@item.TenSach</p>
                                                        <p>@item.GiaBan VND</p>
                                                        @*<p>@item.MoTa</p>*@
                                                        <a href="/them-gio-hang?productID=@item.ID&quantity=1" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
</section>

