@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Slides = (List<WebApplication.Models.EF.Slide>)ViewBag.Slides;
    var numberSlide = 0;
    var ListNewBook = (List<WebApplication.Models.EF.Sach>)ViewBag.ListNewBook;
    var BestSellingBook = (List<WebApplication.Models.EF.Sach>)ViewBag.BestSellingBook;
    var listComicManga = (List<WebApplication.Models.EF.Sach>)ViewBag.listComicManga;
    var listComicManga2 = (List<WebApplication.Models.EF.Sach>)ViewBag.listComicManga2;
}
@using System.Globalization

<style>
    .productinfo p {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #ffa31a;
    }
</style>
@section slide{
    <section id="slider">
        <!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                            <li data-target="#slider-carousel" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            @foreach (var item in Slides)
                            {
                                if (numberSlide == 0)
                                {
                                    <div class="item active">
                                        <div class="col-sm-6">
                                            <h1><span>Book</span>-Store</h1>
                                            <h2>Nguồn tri thức bất tận của nhân loại</h2>
                                            <p>"Chỉ trong sách, con người mới biết đến sự thật, tình yêu và cái đẹp hoàn hảo." - George Bernard Shaw</p>
                                            @*<button type="button" class="btn btn-default get">Get it now</button>*@
                                        </div>
                                        <div class="col-sm-6">
                                            <img src="@Url.Content(@item.Image)" class="girl img-responsive" alt="" />
                                        </div>
                                    </div> numberSlide = 1;
                                }
                                if (numberSlide == 1)
                                {
                                    <div class="item">
                                        <div class="col-sm-6">
                                            <h1><span>Book</span>-Store</h1>
                                            <h2>Chìa khóa khởi nguồn cảm hứng</h2>
                                            <p>"Việc đọc rất quan trọng. Nếu bạn biết cách đọc, cả thế giới sẽ mở ra cho bạn." - Barack Obama</p>
                                            @*<button type="button" class="btn btn-default get">Get it now</button>*@
                                        </div>
                                        <div class="col-sm-6">
                                            <img href="@item.Link" src="@Url.Content(@item.Image)" class="girl img-responsive" alt="" />
                                        </div>
                                    </div> numberSlide = 2;
                                }
                                if (numberSlide == 2)
                                {
                                    <div class="item">
                                        <div class="col-sm-6">
                                            <h1><span>Books</span>-Store</h1>
                                            <h2>Là lựa chọn hàng đầu của bạn</h2>
                                            <p>Hành trình của bạn bắt đầu từ một sự lựa chọn. Hãy để chúng tôi giúp bạn. </p>
                                            @*<button type="button" class="btn btn-default get">Get it now</button>*@
                                        </div>
                                        <div class="col-sm-6">
                                            <img href="@item.Link" src="@Url.Content(@item.Image)" class="girl img-responsive" alt="" />
                                        </div>
                                    </div>
                                }
                            }

                        </div>

                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section><!--/slider-->
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <br />
                    <h2>Danh mục</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->

                        @{ Html.RenderAction("ProductCategory", "Product");}

                    </div><!--/category-products-->

                    <div style="padding-bottom:50px"></div>
                    <div class="text-center">
                        <!--shipping-->
                        <img src="~/Assets/Admin2/images/home/_shipping.jpg" alt="" />
                    </div><!--/shipping-->

                    <div style="padding-bottom:50px"></div>
                    <div class="text-center">
                        <!--shipping-->
                        <img src="~/Assets/Admin2/images/home/_shipping3.jpg" alt="" />
                    </div><!--/shipping-->

                </div>
            </div>
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">
                        <a class="btn hvr-hover" href="#">Sách mới cập nhật</a>
                    </h2>

                    @foreach (var item in ListNewBook)
                    {
                        var url = "/chi-tiet/" + @item.MetaTitle + "-" + @item.ID;
                        <div class="col-sm-3">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="@url">
                                            <img style="width:160px;height:230px" src="@Url.Content(item.AnhBia)" alt="" data-src />
                                        </a>
                                        <p>@item.TenSach</p>
                                        @*<p>@item.GiaBan VND</p>*@
                                        <p>@(Convert.ToDouble(item.GiaBan).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</p>
                                        @*<p>@item.MoTa</p>*@
                                        <a href="/them-gio-hang?productID=@item.ID&quantity=1" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    }

                </div><!--features_items-->
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">
                        <a class="btn hvr-hover" href="#">Sách bán chạy</a>
                    </h2>
                    @foreach (var item in BestSellingBook)
                    {
                        var url = "/chi-tiet/" + @item.MetaTitle + "-" + @item.ID;
                        <div class="col-sm-3">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="@url">
                                            <img style="width:160px;height:230px" src="@Url.Content(item.AnhBia)" alt="" data-src />
                                        </a>
                                        <p>@item.TenSach</p>
                                        @*<p>@item.GiaBan VND</p>*@
                                        <p>@(Convert.ToDouble(item.GiaBan).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</p>
                                        @*<p>@item.MoTa</p>*@
                                        <a href="/them-gio-hang?productID=@item.ID&quantity=1" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    }


                </div><!--features_items-->

                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">
                        <a class="btn hvr-hover" href="#">Comic Manga</a>
                    </h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                @foreach (var item in listComicManga)
                                {
                                    var url = "/chi-tiet/" + @item.MetaTitle + "-" + @item.ID;
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <a href="@url">
                                                        <img style="width:130px;height:200px" src="@Url.Content(item.AnhBia)" alt="" data-src />
                                                    </a>
                                                    <p>@item.TenSach</p>
                                                    @*<p>@item.GiaBan VND</p>*@
                                                    <p>@(Convert.ToDouble(item.GiaBan).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</p>
                                                    @*<p>@item.MoTa</p>*@
                                                    <a href="/them-gio-hang?productID=@item.ID&quantity=1" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="item">

                                @foreach (var item in listComicManga2)
                                {
                                    var url = "/chi-tiet/" + @item.MetaTitle + "-" + @item.ID;
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <a href="@url">
                                                        <img style="width:130px;height:200px" src="@Url.Content(item.AnhBia)" alt="" data-src />
                                                    </a>
                                                    <p>@item.TenSach</p>
                                                    @*<p>@item.GiaBan VND</p>*@
                                                    <p>@(Convert.ToDouble(item.GiaBan).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</p>
                                                    @*<p>@item.MoTa</p>*@
                                                    <a href="/them-gio-hang?productID=@item.ID&quantity=1" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->

            </div>

        </div>
    </div>
</section>