@using PagedList.Mvc;

@model PagedList.IPagedList<WebApplication.Models.EF.NhaXuatBan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<style>
    /* thiết lập style cho thẻ a */
    .pagination a {
        color: black;
        float: left;
        padding: 12px 18px;
        text-decoration: none;
    }
        /* thiết lập style cho class active */
        .pagination a.active {
            background-color: dodgerblue;
            color: white;
            /*thiết kế hình tròn với css*/
            border-radius: 50%;
        }
        /* thêm màu nền khi người dùng hover vào class không active */
        .pagination a:hover:not(.active) {
            background-color: #ddd;
            /*thiết kế hình tròn với css*/
            border-radius: 50%;
        }
</style>

<div class="card-header py-3">
    <h2 class="m-0 font-weight-bold text-primary">Nhà Xuất Bản</h2>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Admin">Trang Chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nhà Xuất Bản</li>
    </ol>
</nav>

<div class="panel-body">
    <div class="card shadow mb-4">
        <div class="row-cols-1">
            <div class="col-10">
                <div class="table-responsive">

                    <table>
                        <tr>
                            <th>
                                <a href="~/Admin/NhaXuatBan/Create" class="btn btn-outline-success"><span class="glyphicon glyphicon-search"></span>Thêm mới</a>
                            </th>
                        </tr>
                    </table>
                    <hr />
                    @using (Html.BeginForm("Index", "NhaXuatBan", FormMethod.Get))
                    {
                        <div class="input-group">
                            <input type="text" class="from-control bg-light border-0 small col-3" placeholder="Search for..."
                                   aria-label="Search" value="@ViewBag.searchString" aria-describedby="basic-addon2" name="searchString" />
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    Search
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    }

                    <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tên nhà xuất bản</th>
                                <th>Địa chỉ</th>
                                <th>Số điện thoại</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenNXB)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DiaChi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DienThoai)
                                </td>
                                <td>
                                    <a href="@Url.Content("~/Admin/NhaXuatBan/Edit?id=")@item.ID" class="btn btn-outline-warning"><span class="glyphicon glyphicon-pencil"></span>Sửa</a>
                                    <a href="@Url.Content("~/Admin/NhaXuatBan/Details?id=")@item.ID" class="btn btn-outline-primary"><span class="glyphicon glyphicon-search"></span>Chi tiết</a>
                                    <a href="@Url.Content("~/Admin/NhaXuatBan/Delete?id=")@item.ID" class="btn btn-outline-danger"><span class="glyphicon glyphicon-trash"></span>Xóa</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.searchString }))
    </div>
</div>